@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
body{
    background-color: black;
}

a{
    text-decoration: none;
    color: inherit;
}
